.body.theme--dark, .theme--dark .header, .theme--dark .post__footer, .theme--dark .post, .theme--dark .nav__list {
    background-color: #222;
}

.sidebar__introduction-profileimage {
    height: 250px;
    width: 250px;
}